$min-width: 320px;
$max-width: 1280px;

// Color theme
$light: #f3fcf0;
$dark: #1f271b;
$yellow: #ffd23f;
$red: #ee4266;
$purple: #540d6e;

$bg: $light;
$text: $dark;
$links: $purple;
$accent: $red;
$contrast: $yellow;

// Fonts
$h-font-family: 'Roboto', sans-serif;
// font-size: 35px;

$p-font-family: 'Droid Serif', serif;
// font-size: 15px;